<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/highlight-styles/default.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <div id="profileHolder" style="display:none;"><%= JSON.stringify(profile) %></div>

    <div class="navbar">
	<div class="navbar-inner">
	    <ul class="nav" style="margin-left:-60px">
		<li><a href="/">Search</a></li>
		<li><a href="/publish">Publish</a></li>
		<li><a href="/super_demo_slides/index.html">Demo</a></li>
	    </ul>

	    <% if (user && (user.id === profile.id)) { %>
	    <a class="brand pull-right" href="/logout">Log out</a>
	    <%}%>
	    <% if (!user && !userExtra) { %>
	    <a class="brand" href="/auth/google">Log in</a>
	    <%}%>

	</div>
    </div>


    <header>
        <!-- http://gravatar.com/avatar/af111f4cc71a9c259170bd8640578a62?s=400 -->
        <h1>
            <div id="emailHolder" style="display:none;"><%= profile.email %></div>

            <img id="profPic" class="img-circle avatars">
            <div id="name"><%= profile.displayName %></div>
            <div id="rep">(<%= profile.rep %>)</div>
	</h1>

        <div id="table">
            <table id="summary" class="table table-bordered" style="margin:0px; width:100%;">
                <tr>
		    <% if(profile.publications) { %>
                    <td>Code snippets published</td> <td id="centerColumn"><a id="snippetScroll" href="#"><%= profile.publications.length%></a></td>
		    <% } %>
		    <% if(!profile.publications) { %>
                    <td>Code snippets published</td> <td id="centerColumn"><a id="snippetScroll" href="#">0</a></td>
		    <% } %>
                </tr>
		<!--
                <tr>
                    <td>Number of Comments</td> <td id="centerColumn"><a id="commentScroll" href="#">TODO</a></td>
                </tr>
		-->
                <tr>
                    <td>Total votes</td> <td id="centerColumn"><a id="voteScroll" href="#">0</a></td>
                </tr>
            </table>
        </div>

        <div class="row">
            <div id="snippetSection" class="span3">
                <h3>Snippets</h3>
            </div>
        </div>

	<% if(codes) { %>
        <% for(var i = 0; i < codes.length; i++){ %>
           <div class="row">
               <div class="span7">
                   <div class="metaHeader">
                       By <a href="/u/<%= profile.id %>"><%= profile.displayName %></a>, <%= codes[i].votes %> vote(s)
                   </div>

                   <div class="snippet">
                       <pre>
                           <code class="<%= codes[i].lang %>">
<%= codes[i].code %>
                       </code></pre>
                   </div>
               </div>
           </div>
           <% } %>
	   <% } %>


           <div id="voteSection" class="row">
               <div class="span3">
                   <h3 class="left">Recent Votes</h3>
               </div>
           </div>
	   
	   <div id="votes"></div>
    </header>

</div> <!-- /container -->
<!-- Nonblocking scripts at the bottom of the body -->
<script src="/js/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/underscore-min.js"></script>
</body>
</html>
