<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/highlight-styles/default.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>


    <div class="navbar">
	<div class="navbar-inner">
	    <ul class="nav" style="margin-left:-60px">
		<li><a href="/">Search</a></li>
		<li><a href="/publish">Publish</a></li>
		<li><a href="/super_demo_slides/index.html">Demo</a></li>
	    </ul>

	    <% if (user && (user.id === profile.id)) { %>
	    <a class="brand pull-right" href="/logout">Log out</a>
	    <%}%>
	    <% if (!user && !userExtra) { %>
	    <a class="brand" href="/auth/google">Log in</a>
	    <%}%>

	</div>
    </div>


    <header>
        <!-- http://gravatar.com/avatar/af111f4cc71a9c259170bd8640578a62?s=400 -->
        <h1>
            <div id="emailHolder" style="display:none;"><%= profile.email %></div>

            <img id="profPic" class="img-circle avatars">
            <div id="name"><%= profile.displayName %></div>
            <div id="rep">(100)</div>
	</h1>

        <div id="table">
            <table id="summary" class="table table-bordered" style="margin:0px; width:100%;">
                <tr>
		    <% if(profile.publications) { %>
                    <td>Code snippets published</td> <td id="centerColumn"><a id="snippetScroll" href="#"><%= profile.publications.length%></a></td>
		    <% } %>
		    <% if(!profile.publications) { %>
                    <td>Code snippets published</td> <td id="centerColumn"><a id="snippetScroll" href="#">0</a></td>
		    <% } %>
                </tr>
		<!--
                <tr>
                    <td>Number of Comments</td> <td id="centerColumn"><a id="commentScroll" href="#">TODO</a></td>
                </tr>
		-->
                <tr>
                    <td>Total votes</td> <td id="centerColumn"><a id="voteScroll" href="#">TODO</a></td>
                </tr>
            </table>
        </div>

        <div class="row">
            <div id="snippetSection" class="span3">
                <h1>Snippets</h1>
            </div>
        </div>

	<% if(codes) { %>
        <% for(var i = 0; i < codes.length; i++){ %>
           <div class="row">
               <div class="span7">
                   <div class="metaHeader">
                       By <a href="/u/<%= profile.id %>"><%= profile.displayName %></a>, <%= codes[i].votes %> vote(s)
                   </div>

                   <div class="snippet">
                       <pre>
                           <code class="<%= codes[i].lang %>">
<%= codes[i].code %>
                       </code></pre>
                   </div>
               </div>
           </div>
           <% } %>
	   <% } %>

           <!-- TODO populate from server -->
	   <!--
           <div id="commentSection" class="row">
               <div class="span3">
                   <h1 class="left">Comments</h1>
               </div>
           </div>

           <div class="accordion" id="accordion2">
               <div class="accordion-group">
		   <div class="accordion-heading">
		       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			   Quicksort @ line 141
		       </a>
		   </div>
		   <div id="collapseOne" class="accordion-body collapse">
		       <div class="accordion-inner">
			   "Any reason you didnt use Java's built-in LinkedList?"
		       </div>
		   </div>
               </div>
               <div class="accordion-group">
		   <div class="accordion-heading">
		       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			   Transitive Closure @ line 286
		       </a>
		   </div>
		   <div id="collapseTwo" class="accordion-body collapse">
		       <div class="accordion-inner">
			   "This line is redundant and can be refactored."
		       </div>
		   </div>
               </div>
           </div>
	   -->

           <!-- TODO populate from server -->
           <div id="voteSection" class="row">
               <div class="span3">
                   <h1 class="left">Recent Votes</h1>
               </div>
           </div>

           <div class="row">
               <div class="span7">
                   <span><i class="icon-arrow-up"></i> <a href="#">Quicksort</a> by <a href="#">Penguin</a></span>
                   <span style="float: right;">43 mintues ago</span>
               </div>
           </div>
           <div class="row">
               <div class="span7">
                   <span><i class="icon-arrow-up"></i> <a href="#">Transitive Closure</a> by <a href="#">abhishelat</a></span>
                   <span style="float: right;">6 hours ago</span>
               </div>
           </div>
           <div class="row">
               <div class="span7">
                   <span><i class="icon-arrow-up"></i> <a href="#">Pattern Matching w/ wildcards</a> by <a href="#">PuneetLall</a></span>
                   <span style="float: right;">2 days ago</span>
               </div>
           </div>
    </header>

</div> <!-- /container -->
<!-- Nonblocking scripts at the bottom of the body -->
<script src="/js/highlight/highlight.pack.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>
<script src="/js/md5.js"></script>
</body>
</html>
